In [1]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40, 50])
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]

In [3]:
s2 = pd.Series(['a', 'b', 'c', 1, 2, 3])
print(s2)

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [4]:
import numpy as np 		# np.nan을 사용하기 위해 numpy import

s3 = pd.Series([np.nan, 10, 30])
print(s3)

0     NaN
1    10.0
2    30.0
dtype: float64

In [6]:
index_date = ['2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10']
s4 = pd.Series([200, 195, None, 205], index = index_date)
print(s4)

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

In [7]:
s5 = pd.Series({'국어':100, '영어':95, '수학':100})	# seq_data로 dictionary 데이터 이용
print(s5)

국어    100
영어     95
수학    100
dtype: int64

In [10]:
pd.date_range(start = '2019-01-01', end='01.07.2019')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range(start='2019-01-01', periods=7)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range(start='2019-01-01', periods=4, freq = '2D')

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07'], dtype='datetime64[ns]', freq='2D')

In [13]:
pd.date_range(start='2019-01-01', periods=4, freq='W')

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27'], dtype='datetime64[ns]', freq='W-SUN')

In [14]:
pd.date_range(start='2019-01-01', periods=12, freq='2BM')

DatetimeIndex(['2019-01-31', '2019-03-29', '2019-05-31', '2019-07-31',
               '2019-09-30', '2019-11-29', '2020-01-31', '2020-03-31',
               '2020-05-29', '2020-07-31', '2020-09-30', '2020-11-30'],
              dtype='datetime64[ns]', freq='2BM')

In [15]:
pd.date_range(start='2019-01-01', periods=4, freq='QS')

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [16]:
pd.date_range(start='2019-01-01', periods=3, freq='AS')

DatetimeIndex(['2019-01-01', '2020-01-01', '2021-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [17]:
pd.date_range(start='2019-01-01 08:00', periods=10, freq='H')

DatetimeIndex(['2019-01-01 08:00:00', '2019-01-01 09:00:00',
               '2019-01-01 10:00:00', '2019-01-01 11:00:00',
               '2019-01-01 12:00:00', '2019-01-01 13:00:00',
               '2019-01-01 14:00:00', '2019-01-01 15:00:00',
               '2019-01-01 16:00:00', '2019-01-01 17:00:00'],
              dtype='datetime64[ns]', freq='H')

In [18]:
pd.date_range(start='2019-01-01 10:00', periods=10, freq='BH')

DatetimeIndex(['2019-01-01 10:00:00', '2019-01-01 11:00:00',
               '2019-01-01 12:00:00', '2019-01-01 13:00:00',
               '2019-01-01 14:00:00', '2019-01-01 15:00:00',
               '2019-01-01 16:00:00', '2019-01-02 09:00:00',
               '2019-01-02 10:00:00', '2019-01-02 11:00:00'],
              dtype='datetime64[ns]', freq='BH')

In [24]:
pd.date_range('2019-01-01 10:00', periods=4, freq='30T')

DatetimeIndex(['2019-01-01 10:00:00', '2019-01-01 10:30:00',
               '2019-01-01 11:00:00', '2019-01-01 11:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [20]:
pd.date_range(start='2019-01-01 10:00', periods=4, freq='10S')

DatetimeIndex(['2019-01-01 10:00:00', '2019-01-01 10:00:10',
               '2019-01-01 10:00:20', '2019-01-01 10:00:30'],
              dtype='datetime64[ns]', freq='10S')

In [21]:
index_date = pd.date_range(start = '2019-03-01', periods = 5, freq='D')
pd.Series([51,62,55,49,58], index = index_date)

2019-03-01    51
2019-03-02    62
2019-03-03    55
2019-03-04    49
2019-03-05    58
Freq: D, dtype: int64

In [22]:
pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
data_list = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
pd.DataFrame(data_list)

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [25]:
data = np.array([[1,2,3], [4,5,6], [7,8,9], [10,11,12]])
index_data = pd.date_range('2019-09-01', periods = 4)
columns_data = ['A', 'B', 'C']
pd.DataFrame(data, index = index_data, columns = columns_data)

             A   B   C
2019-09-01   1   2   3
2019-09-02   4   5   6
2019-09-03   7   8   9
2019-09-04  10  11  12

In [28]:
table_data = {'연도': [2015, 2016, 2016, 2017, 2017],
			  '지사': ['한국', '한국', '미국', '한국', '미국'],
			  '고객 수': [200, 250, 450, 300, 500]}
pd.DataFrame(table_data)

     연도  지사  고객 수
0  2015  한국   200
1  2016  한국   250
2  2016  미국   450
3  2017  한국   300
4  2017  미국   500

In [30]:
df = pd.DataFrame(table_data, columns=['고객 수', '지사', '연도'])
df

   고객 수  지사    연도
0   200  한국  2015
1   250  한국  2016
2   450  미국  2016
3   300  한국  2017
4   500  미국  2017

In [31]:
print(df.index)
print(df.columns)
print(df.values)

RangeIndex(start=0, stop=5, step=1)
Index(['고객 수', '지사', '연도'], dtype='object')
[[200 '한국' 2015]
 [250 '한국' 2016]
 [450 '미국' 2016]
 [300 '한국' 2017]
 [500 '미국' 2017]]

In [34]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])

print('+연산 : \n',s1 + s2)
print('-연산 : \n',s1 - s2)
print('*연산 : \n',s1 * s2)
print('/연산 : \n',s2 / s1)

+연산 :
 0    11
1    22
2    33
3    44
4    55
dtype: int64
-연산 :
 0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64
*연산 :
 0     10
1     40
2     90
3    160
4    250
dtype: int64
/연산 :
 0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [36]:

s3 = pd.Series([1,2,3,4])
s4 = pd.Series([10,20,30,40,50])

print('+연산 : ', s3 + s4)
print('-연산 : ', s3 - s4)
print('*연산 : ', s3 * s4)
print('/연산 : ', s4 / s3)

+연산 :  0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64
-연산 :  0    -9.0
1   -18.0
2   -27.0
3   -36.0
4     NaN
dtype: float64
*연산 :  0     10.0
1     40.0
2     90.0
3    160.0
4      NaN
dtype: float64
/연산 :  0    10.0
1    10.0
2    10.0
3    10.0
4     NaN
dtype: float64

In [37]:
table_data1 = {'A':[1,2,3,4,5],
			   'B':[10,20,30,40,50],
			   'C':[100,200,300,400,500]}
table_data2 = {'A':[6,7,8],
			   'B':[60,70,80],
			   'C':[600,700,800]}

df1 = pd.DataFrame(table_data1)
df2 = pd.DataFrame(table_data2)

print('+연산 : ', df1 + df2)
print('-연산 : ', df1 - df2)
print('*연산 : ', df1 * df2)
print('/연산 : ', df2 / df1)

+연산 :        A      B       C
0   7.0   70.0   700.0
1   9.0   90.0   900.0
2  11.0  110.0  1100.0
3   NaN    NaN     NaN
4   NaN    NaN     NaN
-연산 :       A     B      C
0 -5.0 -50.0 -500.0
1 -5.0 -50.0 -500.0
2 -5.0 -50.0 -500.0
3  NaN   NaN    NaN
4  NaN   NaN    NaN
*연산 :        A       B         C
0   6.0   600.0   60000.0
1  14.0  1400.0  140000.0
2  24.0  2400.0  240000.0
3   NaN     NaN       NaN
4   NaN     NaN       NaN
/연산 :            A         B         C
0  6.000000  6.000000  6.000000
1  3.500000  3.500000  3.500000
2  2.666667  2.666667  2.666667
3       NaN       NaN       NaN
4       NaN       NaN       NaN

In [38]:
df1.sum()

A      15
B     150
C    1500
dtype: int64

In [49]:
df1.cumprod(axis=1)

   A    B       C
0  1   10    1000
1  2   40    8000
2  3   90   27000
3  4  160   64000
4  5  250  125000

In [50]:
table_data3 = {'봄': [256.5, 264.3, 215.9, 223.2, 312.8],
			   '여름': [770.6, 567.5, 599.8, 387.1, 446.2],
			   '가을': [363.5, 231.2, 293.1, 247.7, 381.6],
			   '겨울': [139.3, 59.9, 76.9, 109.1, 108.1]}
columns_list = ['봄', '여름', '가을', '겨울']
index_list = ['2012', '2013', '2014', '2015', '2016']

df3 = pd.DataFrame(table_data3, columns = columns_list, index = index_list)

print("mean()[계절별] ", df3.mean())
print('mean()[연도별]', df3.mean(axis=1))
print('std()[계절별]', df3.std())
print('std()[연도별]', df3.std(axis=1))

mean()[계절별]  봄     254.54
여름    554.24
가을    303.42
겨울     98.66
dtype: float64
mean()[연도별] 2012    382.475
2013    280.725
2014    296.425
2015    241.775
2016    312.175
dtype: float64
std()[계절별] 봄      38.628267
여름    148.888895
가을     67.358496
겨울     30.925523
dtype: float64
std()[연도별] 2012    274.472128
2013    211.128782
2014    221.150739
2015    114.166760
2016    146.548658
dtype: float64

In [53]:
df3_1 = df3.T
df3_1

     2012   2013   2014   2015   2016
봄   256.5  264.3  215.9  223.2  312.8
여름  770.6  567.5  599.8  387.1  446.2
가을  363.5  231.2  293.1  247.7  381.6
겨울  139.3   59.9   76.9  109.1  108.1

In [54]:
df3_1 = df3.T
df3_1.describe()

             2012        2013        2014       2015        2016
count    4.000000    4.000000    4.000000    4.00000    4.000000
mean   382.475000  280.725000  296.425000  241.77500  312.175000
std    274.472128  211.128782  221.150739  114.16676  146.548658
min    139.300000   59.900000   76.900000  109.10000  108.100000
25%    227.200000  188.375000  181.150000  194.67500  261.625000
50%    310.000000  247.750000  254.500000  235.45000  347.200000
75%    465.275000  340.100000  369.775000  282.55000  397.750000
max    770.600000  567.500000  599.800000  387.10000  446.200000

In [61]:
KTX_data = {'경부선 KTX' : [39060, 39896, 42005, 43621, 41702, 41266, 32427],
			'호남선 KTX' : [7313, 6967, 6873, 6626, 8675, 10622, 9228],
			'경전선 KTX' : [3627, 4168, 4088, 4424, 4606, 4984, 5570],
			'전라선 KTX' : [309, 1771, 1954, 2244, 3146, 3945, 5766],
			'동해선 KTX' : [None, None, None, None, 2395, 3786, 6667]}
col_list = ['경부선 KTX', '호남선 KTX', '경전선 KTX', '전라선 KTX', '동해선 KTX']
index_list = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']

df_KTX = pd.DataFrame(KTX_data, columns = col_list, index = index_list)

print(df_KTX.head(2))
print(df_KTX.tail(1))

      경부선 KTX  호남선 KTX  경전선 KTX  전라선 KTX  동해선 KTX
2011    39060     7313     3627      309      NaN
2012    39896     6967     4168     1771      NaN
      경부선 KTX  호남선 KTX  경전선 KTX  전라선 KTX  동해선 KTX
2017    32427     9228     5570     5766   6667.0

In [62]:
print(df_KTX[1:2])
print(df_KTX[:3])
print(df_KTX[2:])

      경부선 KTX  호남선 KTX  경전선 KTX  전라선 KTX  동해선 KTX
2012    39896     6967     4168     1771      NaN
      경부선 KTX  호남선 KTX  경전선 KTX  전라선 KTX  동해선 KTX
2011    39060     7313     3627      309      NaN
2012    39896     6967     4168     1771      NaN
2013    42005     6873     4088     1954      NaN
      경부선 KTX  호남선 KTX  경전선 KTX  전라선 KTX  동해선 KTX
2013    42005     6873     4088     1954      NaN
2014    43621     6626     4424     2244      NaN
2015    41702     8675     4606     3146   2395.0
2016    41266    10622     4984     3945   3786.0
2017    32427     9228     5570     5766   6667.0

In [63]:
print(df_KTX.loc['2011'])
print(df_KTX.loc['2013':'2016'])

경부선 KTX    39060.0
호남선 KTX     7313.0
경전선 KTX     3627.0
전라선 KTX      309.0
동해선 KTX        NaN
Name: 2011, dtype: float64
      경부선 KTX  호남선 KTX  경전선 KTX  전라선 KTX  동해선 KTX
2013    42005     6873     4088     1954      NaN
2014    43621     6626     4424     2244      NaN
2015    41702     8675     4606     3146   2395.0
2016    41266    10622     4984     3945   3786.0

In [66]:
print(df_KTX['경부선 KTX']['2012':'2014'])

2012    39896
2013    42005
2014    43621
Name: 경부선 KTX, dtype: int64

In [67]:
print(df_KTX['경부선 KTX'][1:4])

2012    39896
2013    42005
2014    43621
Name: 경부선 KTX, dtype: int64

In [68]:
print(df_KTX.loc['2016']['호남선 KTX'])
print(df_KTX.loc['2016', '호남선 KTX'])
print(df_KTX['호남선 KTX']['2016'])
print(df_KTX['호남선 KTX'][5])
print(df_KTX['호남선 KTX'].loc['2016'])

10622.0
10622
10622
10622
10622

In [70]:
df1 = pd.DataFrame({'class1' : [95, 92, 98, 100],
					'class2' : [91, 93, 97, 99]})
df2 = pd.DataFrame({'class1' : [87, 89],
					'class2' : [85, 90]})
					
df1.append(df2)
df1.append(df2, ignore_index = True)

   class1  class2
0      95      91
1      92      93
2      98      97
3     100      99
4      87      85
5      89      90

In [71]:
df3 = pd.DataFrame({'class1' : [96, 83]})
df2.append(df3, ignore_index = True)

   class1  class2
0      87    85.0
1      89    90.0
2      96     NaN
3      83     NaN

In [72]:
df4 = pd.DataFrame({'class3' : [93, 91, 95, 98]})
df1.join(df4)

   class1  class2  class3
0      95      91      93
1      92      93      91
2      98      97      95
3     100      99      98

In [75]:
index_label = ['a', 'b', 'c', 'd']
df1a = pd.DataFrame({'class1' : [95,92,98,99],
					 'class2' : [91,93,97,99]}, index = index_label)
df4a = pd.DataFrame({'class3' : [93,91,95,98]}, index = index_label)
df1a.join(df4a)

   class1  class2  class3
a      95      91      93
b      92      93      91
c      98      97      95
d      99      99      98

In [76]:
df5 = pd.DataFrame({'class4':[82,92]})
df1.join(df5)

   class1  class2  class4
0      95      91    82.0
1      92      93    92.0
2      98      97     NaN
3     100      99     NaN

In [77]:
df_A_B = pd.DataFrame({'판매월':['1월', '2월', '3월', '4월'],
					   '제품A':[100, 150, 200, 130],
					   '제품B':[90, 110, 140, 170]})
df_C_D = pd.DataFrame({'판매월':['1월', '2월', '3월', '4월'],
					   '제품C':[112, 141, 203, 134],
					   '제품D':[99, 100, 120, 179]})
df_A_B.merge(df_C_D)

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   99
1  2월  150  110  141  100
2  3월  200  140  203  120
3  4월  130  170  134  179

In [79]:
df_left = pd.DataFrame({'key':['A', 'B', "C"], 'left': [1,2,3]})
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4,5,6]})	# key가 하나 다름

print(df_left.merge(df_right, how='left', on='key'))
print(df_left.merge(df_right, how='right', on='key'))
print(df_left.merge(df_right, how='outer', on='key'))
print(df_left.merge(df_right, how='inner', on='key'))

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   C     3    NaN
  key  left  right
0   A   1.0      4
1   B   2.0      5
2   D   NaN      6
  key  left  right
0   A   1.0    4.0
1   B   2.0    5.0
2   C   3.0    NaN
3   D   NaN    6.0
  key  left  right
0   A     1      4
1   B     2      5

In [80]:
%%writefile sea_rain1.csv
연도,동해,남해,서해,전체
1996,17.4629,17.2288,14.4360,15.9067
1997,17.4116,17.4092,14.8248,16.1526
1998,17.5944,18.0110,15.2512,16.6044
1999,18.1495,18.3175,14.8979,16.6284
2000,17.9288,18.1766,15.0504,16.6178

Writing sea_rain1.csv

In [83]:
print(pd.read_csv('sea_rain1.csv'))

     연도       동해       남해       서해       전체
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

In [84]:
%%writefile sea_rain2.csv
연도 동해 남해 서해 전체
1996 17.4629 17.2288 14.4360 15.9067
1997 17.4116 17.4092 14.8248 16.1526
1998 17.5944 18.0110 15.2512 16.6044
1999 18.1495 18.3175 14.8979 16.6284
2000 17.9288 18.1766 15.0504 16.6178

Writing sea_rain2.csv

In [87]:
print(pd.read_csv('sea_rain1.csv', index_col = '연도')
)

           동해       남해       서해       전체
연도
1996  17.4629  17.2288  14.4360  15.9067
1997  17.4116  17.4092  14.8248  16.1526
1998  17.5944  18.0110  15.2512  16.6044
1999  18.1495  18.3175  14.8979  16.6284
2000  17.9288  18.1766  15.0504  16.6178

In [88]:
df_WH = pd.DataFrame({'Weight':[62,67,55,74], 'Height':[165,177,160,180]},
						index = ['ID_1', 'ID_2', 'ID_3', 'ID_4'])
						
df_WH.index.name = 'User'	# index.name으로 index 이름 추가

bmi = df_WH['Weight']/(df_WH['Height']/100)**2
df_WH['BMI'] = bmi		# df데이터에 새로운 열 데이터(BMI)를 추가

df_WH.to_csv('save_DataFrame.csv')
!cat save_DataFrame.csv

User,Weight,Height,BMI
ID_1,62,165,22.77318640955005
ID_2,67,177,21.38593635289987
ID_3,55,160,21.484374999999996
ID_4,74,180,22.839506172839506